<section class="main">

    <h1>Wellcome</h1>
    
    <div class="container">
        <div class="content">
            <h2>Buy and Sell your textbooks for the best price</h2>
            <p>from applied literature to educatonal resources, we have a lot of textbooks to offer you. We provide only the best books</p>
            <a routerLink="/books">Catalog</a>
        </div>
        <img src="https://cdn.pixabay.com/photo/2018/06/27/07/45/college-student-3500990_1280.jpg" alt="">
    </div>
</section>
