<h1>Create your Book Offer</h1>

<form action="">
    <label for="name">Book Name</label>
    <input type="text" name="name" placeholder="Book name">

    <label for="author">Author</label>
    <input type="text" name="author" placeholder="Author">

    <label for="img">Image Url</label>
    <input type="text" name="img" placeholder="https://...">

    <label for="price">Price</label>
    <input type="number" name="price" placeholder="Price">

    <label for="description">Description</label>
    <textarea type="text" name="description" placeholder="Description"></textarea>

    <button>Post Your Offer</button>
</form>