<section class="content">
    <h1>Create your Book Offer</h1>

    <form action="" (ngSubmit)="submitDatabase()" #createForm="ngForm">
        <div class="input">
            <label for="name">Book Name</label>
            <input type="text" name="name" placeholder="Book name" [(ngModel)]="form.name" #name="ngModel" required >
        </div>
        
        <div class="input">
            <label for="author">Author</label>
            <input type="text" name="author" placeholder="Author" [(ngModel)]="form.author" #author="ngModel" required>
        </div>
        
        <div class="input">
            <label for="img">Image Url</label>
            <input type="text" name="img" placeholder="https://..." [(ngModel)]="form.img" #img="ngModel" required>
        </div>
        
        <div class="input">
            <label for="price">Price</label>
            <input type="number" name="price" placeholder="Price" [(ngModel)]="form.price" #price="ngModel" required>
        </div>
        
        <div class="input">
            <label for="description">Description</label>
            <textarea type="text" name="description" placeholder="Description" [(ngModel)]="form.description" #description="ngModel" required ></textarea>
        </div>
        
        <button [disabled]="createForm.invalid" type="submit">Post Your Offer</button>
    </form>
</section>