<li class="container">
    <div class="wrapper">
        <img [src]="book.img" [alt]="book.name"/>
        <h3>{{ book.name | titlecase }}</h3>
        <p>by {{ book.author | titlecase }}</p>
        <p>{{ book.price | currency : "USD" }}</p>
    </div>
    <div class="button-wrapper">
        <button *ngIf="!isInCart" (click)="addToCart()" class="btn fill" >Add To Cart</button>
        <button *ngIf="isInCart" (click)="removeFromCart()" class="btn fill" >Remove from Cart</button>
        <button class="btn outline">Details</button>
    </div>
</li>