<div class="content">


    <ng-container *ngIf="errorMsg.length > 0"> 
        <h1>{{errorMsg}}</h1> 
    </ng-container>

    <ng-container *ngIf="errorMsg.length == 0">
    <div class="container">
        <img src="{{bookDetails.img}}" alt="">
    </div>

    <div class="container">

        <h1>DETAILS about "{{bookDetails.name}}"</h1>
        <p>Author: {{bookDetails.author}}</p>
        <p>Price: {{bookDetails.price}}</p>
        <p>Description: {{bookDetails.description}}</p>
        
        <div class="buttons" *ngIf="isItOwner()">
            <button (click)="onEditClick()">Edit</button>
            <button (click)="onDeleteClick()">Delete</button>
        </div>

        <div class="buttons" *ngIf="!isItOwner()">
            <button 
                *ngIf="!isItOwner() && isUser && isInCart" 
                (click)="onRemoveClick(bookDetails)"
            >Remove From Cart</button>
            
            <button
                *ngIf="!isItOwner() && isUser && !isInCart" 
                (click)="onAddClick(bookDetails)"
            >Add To Cart</button>
        </div>
        
    </div>
    </ng-container>
</div>
    
    

