<div class="content">

    <div class="container">
        <img src="{{bookDetails.img}}" alt="">
    </div>

    <div class="container">

        <h1>DETAILS about "{{bookDetails.name}}"</h1>
        <p>Author: {{bookDetails.author}}</p>
        <p>Price: {{bookDetails.price}}</p>
        <p>Description: {{bookDetails.description}}</p>
        
        <div class="buttons" *ngIf="isOwner">
            <button (click)="onEditClick()">Edit</button>
            <button (click)="onDeleteClick()">Delete</button>
        </div>
        <div class="buttons" *ngIf="!isOwner && isUser">
            <button (click)="onRemoveClick(bookDetails)">Remove From Cart</button>
        </div>

    </div>
</div>
    
    

